include ../../blocks/tabs/tabs
include ../../blocks/notifications/notifications
include ../../blocks/indicators/indicators
include ../search-bar/search-bar

mixin header(tabs)
  +b.header&attributes(attributes)
    +e.col
      +tabs.__tabs
        each tab in tabs
          +tabs-tab(tab.path, tab.title)(class=tab.active ? 'active' : '')

    +e.col
      +search-bar('ПОИСК').__col-block.__search-bar

      +indicators(data-target-popup='#alarms-popup').__col-block.__indicators.js-show-popup
        +indicator(href="#")._red 7
        +indicator(href="#")._brown 24
        +indicator(href="#")._yellow 12
        +indicator(href="#")._grey 0

      +notifications(data-target-popup='#notifications-popup').__col-block.__notifications.js-show-popup
