include ../../blocks/tabs/tabs
include ../../blocks/notifications/notifications
include ../../blocks/indicators/indicators
include ../search-bar/search-bar

mixin header(activeMenuItem)
  +b.header&attributes(attributes)
    +e.col
      - var clientsPage = !activeMenuItem || activeMenuItem === 'Клиенты' ? 'active' : '';
      - var sessionsPage = activeMenuItem === 'Сессии' ? 'active' : '';
      - var blackListPage = activeMenuItem === 'Чёрный список' ? 'active' : '';

      +tabs.__tabs
        +tabs-tab("/", "Клиенты")(class=clientsPage)
        +tabs-tab("/sessions.html", "Сессии")(class=sessionsPage)
        +tabs-tab("/blacklist.html", "Чёрный список")(class=blackListPage)

    +e.col
      +search-bar('ПОИСК').__col-block.__search-bar

      +indicators.__col-block.__indicators
        +indicator(href="#")._red 7
        +indicator(href="#")._brown 24
        +indicator(href="#")._yellow 12
        +indicator(href="#")._grey 0

      +notifications.__col-block.__notifications
