.header {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  height: 48px;

  &__col {
    display: flex;

    &:not(:last-child) { margin-right: 50px; }
  }

  &__col-block { border-left: 1px solid #d2d3d3; }

  &__notifications { padding: 4px 7px 4px 19px; }

  &__indicators { padding: 0 17px; }

  &__search-bar {
    padding: 0 17px;

    .search-bar__input {
      width: 93px;

      @include performance;

      &:focus { width: 170px; }
    }
  }
}
