.setting-actions {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #d2d3d3;

  &__heading {
    display: block;
    align-self: center;
    padding-left: 24px;
    color: #202325;
    font-size: 24px;
    font-weight: 300;
  }

  &__actions {
    margin-left: auto;
    display: flex;
    min-height: 56px;
  }

  &__action {
    border-left: 1px solid #d2d3d3;
    height: 100%;
  }
}
