.qr-form {
  display: block;
  background-color: #f6f6f6;
  padding-bottom: 20px;

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__content {
    margin-top: 20px;
    padding-left: 17px;
  }

  &__label {
    width: 146px;
  }

  &__field {
    width: 320px;
  }

  &__small-field {
    width: 148px;
  }

  &__checkbox {
    margin-left: auto;
  }

  &__group:not(:last-child) {
    margin-bottom: 32px;
  }
}
