.qr-form {
  display: block;

  &__label {
    width: 146px;
  }

  &__field {
    width: 320px;
  }

  &__small-field {
    width: 148px;
  }

  &__checkbox {
    margin-left: auto;
  }

  &__group:not(:last-child) {
    margin-bottom: 32px;
  }
}
