@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/basics'; // Основные общие стили
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: $container-width;
  margin: 0 auto;
}

body {
  color: #1b1c1f;
  min-height: 100%;
  min-width: 1200px;
  overflow: auto;
}

html {
  overflow: auto;
}

.page {
  padding-bottom: 15px;
}
