extends ../../layouts/default
include ../../blocks/button/button
include ../../blocks/table/table
include ../../blocks/inner-sidebar/inner-sidebar
include ../../blocks/vertical-menu/vertical-menu
include ../../blocks/field/field
include ../../blocks/input/input
include ../../blocks/select/select
include ../../blocks/fieldset/fieldset
include ../../blocks/datepicker/datepicker
include ../../components/sidebar/sidebar
include ../../components/header/header
include ../../components/actions-header/actions-header
include ../../components/setting-actions/setting-actions

block head
  - var pageTitle = 'RPS — Найстройка / Устройства / Устройство'

block layout-left
  +sidebar

block layout-right
  -
    var menu = getData('header-menu-settings');
    menu[0].active = true;
  +header(menu)

  +b.settings-devices-device
    +actions-header
      +actions-header-col
        +button()(href='#')._green._uppercase.settings-devices-zone__add Добавить зону
      +actions-header-col._flexible
        +search-bar('Номер карты или номер транспортного средства...')._white.__search-bar
      +actions-header-col
        +datepicker.settings-devices-device__datepicker

    +e.container
      +inner-sidebar
        +inner-sidebar-item
          +inner-sidebar-header
            +inner-sidebar-heading.A(href='settings-devices-zone.html') Сити 129
            +inner-sidebar-badge 15
          +vertical-menu
            +vertical-menu-item('settings-devices-device.html')._active
              +vertical-menu-text._active КПП Въезд 1
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Выезд 1
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Въезд 2
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Выезд 2
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Въезд 3
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Выезд 3
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Въезд 4
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Выезд 4
        +inner-sidebar-item
          +inner-sidebar-header
            +inner-sidebar-heading.A(href='settings-devices-zone.html') Око
            +inner-sidebar-badge 15
          +vertical-menu
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Въезд 1
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Выезд 1
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Въезд 2
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Выезд 2
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Въезд 3
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Выезд 3
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Въезд 4
            +vertical-menu-item('settings-devices-device.html')
              +vertical-menu-text КПП Выезд 4

      +e.content
        +setting-actions КПП Въезд 1

        +e.FORM.form(action='#' method='post')
          +fieldset('1. Общие')
            +field
              +field-label._align_right.settings-devices-zone__label Название устройства:
              +field-item.settings-devices-zone__field
                +input
            +field
              +field-label._align_right.settings-devices-zone__label Тип проезда:
              +field-item.settings-devices-zone__field
                +select([{title: 'Выберите', value: 1}, {title: 'Выберите 2', value: 2}])
            +field
              +field-label._align_right.settings-devices-zone__label Зона до:
              +field-item.settings-devices-zone__field
                +select([{title: 'Все города', value: 1}, {title: 'Все города 2', value: 2}])
