.settings-devices-device {
  display: block;
  height: 100%;

  &__add {
    min-width: 210px;
    justify-content: center;
  }

  &__datepicker {
    min-width: 316px;
  }

  &__container {
    display: flex;
    width: 100%;
    min-height: 100%;
  }

  &__content {
    flex: 1;
    padding-bottom: 15px;
  }

  &__form {
    margin-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__label {
    width: 267px;
  }

  &__field {
    width: 437px;
  }
}
