.statistics {
  display: flex;
  width: 100%;
  min-height: 100%;

  &__sidebar {
    width: 233px;
    flex-basis: 233px;
  }

  &__view {
    min-width: 231px;
    max-width: 400px;
  }

  &__vertical-menu .vertical-menu__text {
    padding-left: 8px;
  }

  &__content {
    width: 100%;
    padding-bottom: 15px;
  }

  &__info-btn {
    margin-left: auto;
    margin-right: -6px;
    padding: 0;
    width: 24px;
    height: 24px;
    min-height: initial;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;

    &:hover { background-color: #fff; }
  }
}
