mixin transaction()
  +b.transaction&attributes(attributes)
    +e.UL.list._heading
      +e.LI.item
        +e.SPAN.text._bold 21.04.2017 12:08:34
      +e.LI.item
        +e.SPAN.text._bold ID: 63
      +e.LI.item
        +e.SPAN.text._bold Выезд
      +e.LI.item
        +e.SPAN.text._bold Стойка

    +e.UL.list._content
      +e.LI.item._inline
        +e.SPAN.text._bold Тип транзакции:
        +e.SPAN.text Попытка проезда
      +e.LI.item._inline
        +e.SPAN.text._bold Время на парковке:
        +e.SPAN.text —
      +e.LI.item._inline
        +e.SPAN.text._bold Зона до:
        +e.SPAN.text Зона А
      +e.LI.item._inline
        +e.SPAN.text._bold Зона после:
        +e.SPAN.text Вне парковки
      +e.LI.item._inline
        +e.SPAN.text._bold Время въезда в зону:
        +e.SPAN.text 21.04.2017 12:08:34
      +e.LI.item._inline
        +e.SPAN.text._bold Сумма на карте - задолженность:
        +e.SPAN.text 530р
