extends ../../layouts/default
include ../../blocks/table/table
include ../../blocks/inner-sidebar/inner-sidebar
include ../../blocks/indicators/indicators
include ../../components/sidebar/sidebar
include ../../components/header/header

block head
  - var pageTitle = 'RPS — Центр управления'

block layout-left
  +sidebar

block layout-right
  +header([{path: '#', title: 'Moscow-city', active: true}])

  +b.control-center
    +inner-sidebar
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading ВТБ
          +inner-sidebar-badge 15
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._red ВТБ Въезд
          +indicator(href='#')._green ВТБ Выезд
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading Выставочная низ
          +inner-sidebar-badge 255
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._grey._active ВН Въезд
          +indicator(href='#')._yellow ВН Выезд
          +indicator(href='#')._green ВН Выезд
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading Выставочная верх
          +inner-sidebar-badge 1155
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._brown ВВ Въезд
          +indicator(href='#')._brown ВВ Выезд
          +indicator(href='#')._red ВВ Касса стандарт
          +indicator(href='#')._green ВВ Реверс въезд
          +indicator(href='#')._grey ВВ Реверс выезд
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading ОКО
          +inner-sidebar-badge 130
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._grey Въезд ОКО
          +indicator(href='#')._brown Въезд ОКО
          +indicator(href='#')._red Касса ОКО
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading Империя
          +inner-sidebar-badge 410
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._brown._active Въезд империя
          +indicator(href='#')._green Въезд империя

    +e.content
