extends ../../layouts/default
include ../../blocks/table/table
include ../../blocks/button/button
include ../../blocks/icon-button/icon-button
include ../../blocks/inner-sidebar/inner-sidebar
include ../../blocks/indicators/indicators
include ../../blocks/list/list
include ../../components/accordion/accordion
include ../../components/sidebar/sidebar
include ../../components/header/header

block head
  - var pageTitle = 'RPS — Центр управления'

block layout-left
  +sidebar

block layout-right
  +header([{path: '#', title: 'Moscow-city', active: true}])

  +b.control-center
    +inner-sidebar
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading ВТБ
          +inner-sidebar-badge 15
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._red ВТБ Въезд
          +indicator(href='#')._green ВТБ Выезд
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading Выставочная низ
          +inner-sidebar-badge 255
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._grey._active ВН Въезд
          +indicator(href='#')._yellow ВН Выезд
          +indicator(href='#')._green ВН Выезд
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading Выставочная верх
          +inner-sidebar-badge 1155
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._brown ВВ Въезд
          +indicator(href='#')._brown ВВ Выезд
          +indicator(href='#')._red ВВ Касса стандарт
          +indicator(href='#')._green ВВ Реверс въезд
          +indicator(href='#')._grey ВВ Реверс выезд
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading ОКО
          +inner-sidebar-badge 130
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._grey Въезд ОКО
          +indicator(href='#')._brown Въезд ОКО
          +indicator(href='#')._red Касса ОКО
      +inner-sidebar-item
        +inner-sidebar-header
          +inner-sidebar-heading Империя
          +inner-sidebar-badge 410
        +indicators._vertical.control-center__sidebar-indicators
          +indicator(href='#')._brown._active Въезд империя
          +indicator(href='#')._green Въезд империя

    +e.content
      +accordion
        +accordion-item-custom
          +accordion-button('Штатный режим проезда').accordion__button_left.control-center__accordion-button
            +e.SPAN.heading ВН Въезд
          +accordion-content
            +list
              +list-item._align_right
                +list-item-link(href='#') Test #1
              +list-item._align_right
                +list-item-link(href='#') Test #2
      +e.controls
        +e.col._video
          +e.VIDEO(autoplay=true loop=true).video
            source(src='video.mp4' type='video/mp4')
        +e.col._buttons
          +button.BUTTON._grey.__button Проезд одного автомобиля
          +button.BUTTON._grey.__button Проезд по QR-коду
          +icon-button('icon-volume').BUTTON._shadow.__button_small._locked
          +icon-button('icon-phone').BUTTON._shadow.__button_small

      +table
        +table-header.control-center__table-header
          +table-header-col('Код')._width_120._align_center
          +table-header-col('Описание')._flexible

        +table-row
          +table-col._width_120
            +indicators.alarms-popup__indicators
              +indicator(href="#")._brown 101
          +table-col._flexible
            +table-text Нет связи с внешним ридером. Проверьте подключение, питание и работоспособность устройства.
            +button()(href='#')._grey._shadow.control-center__info-btn ?
        +table-row
          +table-col._width_120
            +indicators.alarms-popup__indicators
              +indicator(href="#")._brown 103
          +table-col._flexible
            +table-text Нет связи с внешним ридером. Проверьте подключение, питание и работоспособность устройства.
            +button()(href='#')._grey._shadow.control-center__info-btn ?
        +table-row
          +table-col._width_120
            +indicators.alarms-popup__indicators
              +indicator(href="#")._yellow 105
          +table-col._flexible
            +table-text Карты в диспенсере карт подходят к концу. Загрузите в тубус новые карты.
            +button()(href='#')._grey._shadow.control-center__info-btn ?
        +table-row
          +table-col._width_120
            +indicators.alarms-popup__indicators
              +indicator(href="#")._yellow 112
          +table-col._flexible
            +table-text Верхняя дверь открыта
            +button()(href='#')._grey._shadow.control-center__info-btn ?
        +table-row
          +table-col._width_120
            +indicators.alarms-popup__indicators
              +indicator(href="#")._yellow 105
          +table-col._flexible
            +table-text Карты в диспенсере карт подходят к концу. Загрузите в тубус новые карты.
            +button()(href='#')._grey._shadow.control-center__info-btn ?
        +table-row
          +table-col._width_120
            +indicators.alarms-popup__indicators
              +indicator(href="#")._red 305
          +table-col._flexible
            +table-text Карты в диспенсере карт подходят к концу. Загрузите в тубус новые карты.
            +button()(href='#')._grey._shadow.control-center__info-btn ?
        +table-row
          +table-col._width_120
            +indicators.alarms-popup__indicators
              +indicator(href="#")._yellow 105
          +table-col._flexible
            +table-text Карты в диспенсере карт подходят к концу. Загрузите в тубус новые карты.
            +button()(href='#')._grey._shadow.control-center__info-btn ?
