.inner-sidebar {
  display: block;
  width: 237px;
  height: 100%;
  background-color: #efefef;
  border-right: 1px solid #d9d9d9;

  &__item {
    display: block;
    padding: 20px 13px 20px 22px;

    &_menu {
      padding: 12px 13px 12px 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #d9d9d9;
    }
  }
}
