.table {
  display: block;

  &__header {
    display: flex;
    border-bottom: 1px solid #d2d3d3;

    .table__col:not(:last-child) { border-color: #d2d3d3; }
  }

  &__toggle {
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    min-height: initial;
    padding: 0;
    margin-left: auto;
    margin-right: -6px;
    flex-shrink: 0;

    &_default {
      margin: 0 18px 0 0;
    }

    .icon-button__icon {
      width: 12px;
      height: 7px;
      fill: none;
      stroke: #797b7c;
    }

    &:hover {

      .icon-button__icon {
        fill: none;
        stroke: #555;
      }
    }

    &_active {

      .icon-button__icon {
        transform: rotate(180deg);
        stroke: #000;
      }
    }
  }

  &__checkbox {
    margin-right: 16px;
  }

  &__icon {
    fill: #797b7c;

    &_person {
      width: 12px;
      height: 12px;
      margin-right: 18px;
    }

    &_card {
      width: 16px;
      height: 12px;
      margin-right: 16px;
    }
  }

  &__text-block {
    display: block;
    flex: 1;
    overflow: hidden;
  }

  &__row {
    display: flex;
    width: 100%;

    &_parent, &_children {
      flex-direction: column;
    }

    &_children {
      display: none;
    }

    &:nth-of-type(odd) {
      .table__row_main { background-color: #f9f9f9; }
    }

    &_selected {
      background-color: #fffaf0 !important;
    }

    &_left_padding {
      padding-left: 32px;
    }

    &_main {
      min-height: 48px;
      align-items: center;

      .table__col {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  &__text {
    font-size: 13px;
    color: #1b1c1f;
    line-height: 1.2em;

    @include ellipsis(100%);

    &_grey {
      color: #797b7c;

      &:not(:first-child) { margin-top: 1px; }
    }

    &_size_small {
      font-size: 11px;

      &:not(:first-child) { margin-top: 2px; }
    }

    a {
      color: #0353a4;

      &:hover { color: #f9ad1a; }
    }

    b { font-weight: 500; }
  }

  &__col {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;

    &_nowrap { flex-wrap: nowrap; }

    &_align_center { text-align: center; }

    &_width_90 { width: 90px; }
    &_width_100 { width: 100px; }
    &_width_120 { width: 120px; }
    &_width_140 { width: 140px; }
    &_width_160 { width: 160px; }
    &_width_180 { width: 180px; }
    &_width_200 { width: 200px; }
    &_width_220 { width: 220px; }
    &_width_240 { width: 240px; }
    &_width_260 { width: 260px; }

    &_align_center {
      justify-content: center;
      text-align: center;
    }

    &_column {
      flex-direction: column;
      align-items: flex-start;
    }

    &_flexible {
      flex: 1;
      min-width: 140px;
    }

    &:not(:last-child) { border-right: 1px solid transparent; }
  }

  &__header-text {
    font-size: 14px;
    color: #1b1c1f;
    font-weight: 500;
    flex: 1;
  }

  &__filter-button {
    font-size: 11px;
    font-weight: 500;
    color: #959698;
    letter-spacing: .05em;
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:not(:first-child) { margin-left: 10px; }

    &:last-child { margin-right: -6px; }

    &:hover, &_orange, &_active {
      border-color: #f9ad1a;
      color: #f9ad1a;
    }
  }
}
