mixin table()
  +b.table&attributes(attributes)
    block



mixin table-header()
  +b.table-header&attributes(attributes)
    block

mixin table-header-col(text)
  +e.col&attributes(attributes)
    +e.P.text= text
    block



mixin table-filter-button()
  +b.table-filter-button&attributes(attributes)
    block
