include ../../blocks/popup/popup
include ../../blocks/button/button
include ../accordion/accordion
include ../actions-header/actions-header
include ../search-bar/search-bar

mixin qr-codes-templates()
  +popup._full_overlay#qr-codes-templates
    +popup-header('Шаблоны QR-кодов | выбрано: <span class="js-qr-codes-templates-count">0</span>')
    +popup-body
      +b.qr-codes-templates&attributes(attributes)
        +actions-header.__actions-header
          +actions-header-col._flexible
            +search-bar('Название QR-кода')._white.__search-bar
          +actions-header-col
            +button()(href='#')._green._uppercase Добавить выбранные QR-Коды
        +accordion
          - for (var i = 0; i < 5; i++)
            +accordion-item('QR-Код #1, скидка 100р.', { name: 'name', value: 'value', label: 'Выбрать'})
              +qr-form
                +e.col
                  +button.BUTTON._text_green._uppercase.__button Сохранить
                +e.col
                  +button.BUTTON._text_red._uppercase.__button Удалить
