.notifications {
  display: flex;
  position: relative;
  cursor: pointer;

  &:hover .notifications {
    &__icon, &__counter { opacity: .5; }
  }

  &__icon {
    width: 17px;
    fill: #f9ae17;
    transition: all .25s ease-in-out;
  }

  &__counter {
    align-self: baseline;
    font-size: 13px;
    font-weight: 500;
    color: #797b7c;
    transition: all .25s ease-in-out;

    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
