.actions-header {
  position: relative;
  z-index: 50;
  display: flex;
  height: 58px;
  background-color: #f7f7f7;
  border-top: 1px solid #d2d3d3;
  box-shadow: 0 1px 2px rgba(211, 211, 211, .75);
  padding: 8px;

  &__col {
    position: relative;
    display: flex;

    &_flexible { flex: 1; }

    &_push_right {
      margin-left: auto;
    }

    &:not(:last-child) { margin-right: 15px; }
  }

  &__search-bar {
    width: 100%;
    height: 100%;
  }
}
