extends ../../layouts/default
include ../../blocks/button/button
include ../../blocks/icon-button/icon-button
include ../../blocks/search-bar/search-bar
include ../../blocks/table/table
include ../../components/header/header
include ../../components/actions-header/actions-header

block head
  - var pageTitle = 'RPS — Главная'

block layout-left
  +sidebar

block layout-right
  +header
  +b.index
    +actions-header
      +actions-header-col
        +button(href="#")._green Добавить клиента
        
      +actions-header-col._flexible
        +search-bar('Введите название партнёра, название или адрес объекта')._white.__search-bar
        
      +actions-header-col
        +icon-button('icon-settings')(href="#")
        
    +table()
      +table-header
        +table-header-col('Клиент')._flexible
          +table-filter-button А-Я
        +table-header-col('Тип')._width_120
          +table-filter-button Все
        +table-header-col('Физ. лиц')._width_90._align_center
        +table-header-col('Карт')._width_90._align_center
        +table-header-col('ТС')._width_90._align_center
        +table-header-col('Дата изменения')._width_200
          +table-filter-button._orange 9-1
        +table-header-col('Комментарий')._width_260
          
            
