.search-filter {
  display: flex;
  width: 904px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  border-radius: 3px;

  &__container {
    flex: 1;
    background-color: #fff;
  }

  &__content {
    padding: 28px 79px 28px 24px;
    border-bottom: 1px solid #d2d3d3;
  }

  &__footer {
    display: flex;
    padding: 8px;
  }

  &__reset {
    padding-left: 16px;
    margin-right: auto;
  }

  &__button:not(:last-child) {
    margin-right: 16px;
  }
}
