.search-filter {
  display: flex;
  width: 904px; // TODO change to 100%
  height: 376px; // TODO change to 100%
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  border-radius: 3px;
  overflow: hidden;

  &__sidebar {
    flex-shrink: 0;
  }

  &__container {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  &__content {
    padding: 28px 79px 28px 24px;
    border-bottom: 1px solid #d2d3d3;
  }

  &__footer {
    display: flex;
    padding: 8px;
  }

  &__reset {
    padding-left: 16px;
    margin-right: auto;
  }

  &__button:not(:last-child) {
    margin-right: 16px;
  }
}
