include ../../blocks/icon/icons
include ../../blocks/aside-menu/aside-menu

mixin sidebar()
  +b.sidebar&attributes(attributes)
    +e.A.logo(href="/")
      +icon('logo')

    +aside-menu
      +aside-menu-bottom-block
        +aside-menu-item("#", "Выход", "icon-ui-7")
      +aside-menu-item("control-center.html", "Центр управления", "icon-ui-1").active
      +aside-menu-item("index.html", "Клиенты", "icon-ui-2")
      +aside-menu-item("#", "Касса", "icon-ui-3")
      +aside-menu-item("statistics.html", "Статистика", "icon-ui-4")
      +aside-menu-item("settings-devices-zone.html", "Настройки", "icon-ui-5")
      +aside-menu-item("#", "Помощь", "icon-ui-6")
        +aside-menu-item-counter 4
