.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 45;

  &_active {
    display: block;

    .popup__content {
      transform: translate3d(0, 0, 0);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: -2px 0 4px rgba(0, 0, 0, .5);
    background-color: #fff;
    overflow-y: auto;
    will-change: transform;
    transform: translate3d(100%, 0, 0);
    transition: transform .25s ease-in-out;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d2d3d3;
    flex-shrink: 0;
  }

  &__heading {
    padding: 9px 24px;
    color: #202325;
    font-size: 24px;
    font-weight: 300;
  }

  &__close {
    display: flex;
    padding: 15px;
    align-items: center;
    border-left: 1px solid #d2d3d3;
    cursor: pointer;

    &-icon {
      width: 16px;
      height: 16px;
      fill: #797b7c;
    }
  }

  &__body {
    display: block;
    width: 100%;
    height: 100%;
  }
}
