include ../icon/icons

//- использование
//- +popup('Заголовок')#test
//-   .content
//- content, нужно помещять в отдельный компонент..

//- показать/скрыть попап - $('#myPopup').trigger('popup:show') или 'popup:hide'
//- или по клику на кнопку +button(href='#' data-target-popup='#test;).js-show-popup

mixin popup(heading)
  +b.popup&attributes(attributes)
    +e.wrapper
      +e.content
        +e.header
          +e.H2.heading= heading
          +e.close
            +icon('icon-close').close-icon
        +e.body
          block
