.add-tags {
  display: block;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    color: #202325;
    font-size: 14px;
    font-weight: 400;
  }

  &__button {
    width: 24px;
    height: 24px;

    .icon-button__container { padding: 0; }

    .icon-button__icon {
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
    }
  }

  &__tags {
    margin-top: 18px;
  }
}
