.checkbox {
  display: inline-block;
  cursor: pointer;

  &_with_label {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #d2d3d3;
    padding: 0 12px;
  }

  &:hover .checkbox__box { border-color: #fb3; }

  &__box {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    border: 1px solid #d2d3d3;
    border-radius: 2px;
    transition: all .25s ease-in-out;

    &::before { // indeterminate state
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background-color: #fb3;
      opacity: 0;
      transition: opacity .25s ease-in-out;
    }
  }

  &__icon {
    width: 14px;
    height: 10px;
    fill: #fb3;
    transition: all .25s ease-in-out;
    opacity: 0;

    @include center-image;
  }

  &__input {
    display: none;

    &:checked + .checkbox__box {
      border-color: #fb3;

      .checkbox__icon {
        opacity: 1;
      }
    }

    &:indeterminate + .checkbox__box {
      border-color: #fb3;

      &::before {
        opacity: 1;
      }
    }
  }

  &__text {
    color: #797b7c;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
  }
}
