mixin aside-menu()
  +b.aside-menu&attributes(attributes)
    block                 

mixin aside-menu-item(href, text, icon)                            
  +e.item&attributes(attributes)
    +e.A.link(href=href)
      +e.icon
          +icon(icon)
      +e.SPAN.text= text
      block
      
mixin aside-menu-item-counter()
  +e.counter&attributes(attributes)
    block

mixin aside-menu-bottom-block()
  +e.bottom-block&attributes(attributes)
    block
  
