.aside-menu {
  display: block;
  position: relative;
  padding-bottom: 116px;
  flex: 1;

  &__counter {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 16px;
    min-width: 16px;
    border-radius: 1000px;
    background-color: $color-main;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #242529;
    font-weight: 700;
    font-size: 11px;
    z-index: 2;
  }

  &__item {
    position: relative;

    &:last-of-type {
      .aside-menu__link { border-bottom: 2px solid black; }
    }

    &.active, &:hover {
      .aside-menu__icon, .aside-menu__text { opacity: 1; }
      .aside-menu__link {
        border-color: transparent;
        background-color: #2b2f31;
        border-color: transparent;
      }
      & + .aside-menu__item .aside-menu__link { border-top-color: transparent; }
    }

    &_bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: 0;
    }
  }

  &__link {
    padding: 13px 8px 10px;
    min-height: 96px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-top: 2px solid black;
  }

  .aside-menu__icon, .aside-menu__text {
    opacity: 0.75;
    transition: all .25s ease-in-out;
  }

  &__icon {
    height: 38px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: white;
      max-height: 32px;
      max-width: 60%;
    }
  }

  &__text {
    color: white;
    font-size: 11px;
    line-height: (14/11)*1em;
    font-weight: 500;
    margin-top: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
