include ../../blocks/button/button
include ../../blocks/icon-button/icon-button
include ../../blocks/input/input
include ../../blocks/tabs/tabs
include ../../blocks/field/field
include ../accordion/accordion
include ../ts-list/ts-list
include ../search-bar-add/search-bar-add

mixin individual-info()
  +b.individual-info&attributes(attributes)
    +search-bar-add('Добавить', 'Введите название партнёра, название или адрес объекта').__search-bar
    +accordion
      - for (var i = 0; i < 5; i++)
        +accordion-item('Иванов Дмитрий Сергеевич')
          +e.container
            +e.nav
              +tabs.__tabs
                +tabs-tab(`#individual-info-info-${i}`, 'Информация')
                +tabs-tab(`#individual-info-ts-list-${i}`, 'Список ТС')
                +tabs-tab('javascript:void(0)', 'MiFare Карты')
              +e.actions
                +button()(href='#')._text_green._uppercase.__action Сохранить
                +e.A(href='#').action
                  +icon('icon-trash').icon-trash
            +e.content(id=`individual-info-info-${i}`)
              +e.fields
                +field
                  +field-label._align_right Фамилия:
                  +field-item
                    +input
                +field
                  +field-label._align_right Имя:
                  +field-item
                    +input
                +field
                  +field-label._align_right Отчество:
                  +field-item
                    +input
                +field
                  +field-label._align_right Телефон:
                  +field-item
                    +input(type='tel')
                +field
                  +field-label._align_right E-mail:
                  +field-item
                    +input(type='email')

            +e.content(id=`individual-info-ts-list-${i}`)
              +search-bar-add('Добавить ТС', 'Введите название партнёра, название или адрес объекта')._size_small.__search-bar._add-ts
              +ts-list
