include ../../blocks/button/button
include ../accordion/accordion
include ../actions-header/actions-header
include ../search-bar/search-bar
include ../qr-form/qr-form
include ../qr-codes-templates/qr-codes-templates

mixin qr-codes()
  +b.qr-codes&attributes(attributes)
    +actions-header.__action-header
      +actions-header-col
        +button()(href='#')._green._uppercase Добавить
      +actions-header-col._flexible
        +search-bar('Название QR-кода')._white.__search-bar
      +actions-header-col
        +button()(href='#' data-target-popup='#qr-codes-templates')._grey._uppercase.js-show-popup Шаблоны
    +accordion.qr-codes__accordion
      - for (var i = 0; i < 5; i++)
        +accordion-item('QR-Код #1, скидка 100р.').qr-codes__accordion-item
          +qr-form.__form
            +e.col
              +button.BUTTON._text_grey._uppercase.__button Сохранить
            +e.col
              +button.BUTTON._text_green._uppercase.__button_big Сохранить как шаблон
            +e.col
              +button.BUTTON._text_red._uppercase.__button Удалить
