.partial-button {
  display: flex;
  cursor: pointer;

  &__part {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    color: inherit;

    &:not(:last-child) {
      border-right: 1px solid transparent;
    }
  }

  &__icon {
    width: 14px;
    height: 14px;
  }

  &_grey {
    color: #797b7c;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.14px;
    border-radius: 3px;
    border: 1px solid #d2d3d3;
    background-color: #f6f6f6;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, .1), inset 0 2px 0 #fff;
    }

    .partial-button {

      &__icon {
        fill: #797b7c;
      }

      &__part {
        border-color: #d2d3d3;
      }
    }
  }
}
