.tabs {
  display: flex;

  &__tab {
    display: inline-flex;
    vertical-align: top;
    height: 100%;

    &.active, &:hover {

      .tabs__link {
        border-color: $color-main;
        color: #f9ad1a;
      }
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    color: #797b7c;
    border-bottom: 4px solid transparent;
    text-align: center;
    display: flex;
    padding: 2px 18px 0;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    height: 100%;
    align-items: center;
  }
}
