mixin tabs()
  +b.UL.tabs&attributes(attributes)
    +e.LI.tab.active
      +e.A.link(href="#") Клиенты
      
    +e.LI.tab
      +e.A.link(href="#") Сессии
      
    +e.LI.tab
      +e.A.link(href="#") Чёрный список
        
