extends ../../layouts/default
include ../../blocks/button/button
include ../../blocks/icon-button/icon-button
include ../../components/search-bar/search-bar
include ../../blocks/table/table
include ../../blocks/checkbox/checkbox
include ../../blocks/partial-button/partial-button
include ../../components/header/header
include ../../components/actions-header/actions-header
include ../../components/add-to-blacklist/add-to-blacklist
include ../../components/clients-popup/clients-popup
include ../../components/search-filter/search-filter
include ../../blocks/icon-menu/icon-menu
include ../../components/accordion/accordion
include ../../components/mifare-popup/mifare-popup
include ../../components/edit-card-data-popup/edit-card-data-popup
include ../../components/notifications-popup/notifications-popup
include ../../components/alarms-popup/alarms-popup

block head
  - var pageTitle = 'RPS — Главная'

block layout-left
  +sidebar

block layout-right
  +header(getData('header-menu'))
  +b.test.page
    +actions-header
      +actions-header-col
        +partial-button('icon-close')._grey 1
      +actions-header-col
        +button(href='#' data-target-popup='#edit-card-data-popup')._uppercase._grey.js-show-popup Изменение данных карт
      +actions-header-col
        +button(href='#')._uppercase._grey Удалить компанию
      +actions-header-col
        +button(href='#')._uppercase._grey Удалить Физ. лицо

    div
      div(style="display: inline-block; margin: 15px")
        +button(href='#' data-target-popup='#add-to-blacklist')._uppercase._grey.js-show-popup Добавить в черный список (попап)

      div(style="display: inline-block; margin: 15px")
        +button(href='#' data-target-popup='#clients-popup')._uppercase._grey.js-show-popup Общая информаци о клиентах (попап)

      div(style="display: inline-block; margin: 15px")
        +button(href='#' data-target-popup='#mifare-popup')._uppercase._grey.js-show-popup MiFare попап

      div(style="display: inline-block; margin: 15px")
        +button(href='#' data-target-popup='#notifications-popup')._uppercase._grey.js-show-popup Уведомления

      div(style="display: inline-block; margin: 15px")
        +button(href='#' data-target-popup='#alarms-popup')._uppercase._grey.js-show-popup Тревоги

      +add-to-blacklist
      +clients-popup
      +mifare-popup
      +edit-card-data-popup
      +notifications-popup
      +alarms-popup
