extends ../../layouts/default
include ../../blocks/button/button
include ../../blocks/icon-button/icon-button
include ../../components/search-bar/search-bar
include ../../blocks/table/table
include ../../blocks/checkbox/checkbox
include ../../blocks/partial-button/partial-button
include ../../components/header/header
include ../../components/actions-header/actions-header
include ../../components/add-to-blacklist/add-to-blacklist
include ../../components/clients-popup/clients-popup
include ../../components/search-filter/search-filter
include ../../blocks/icon-menu/icon-menu
include ../../components/accordion/accordion

block head
  - var pageTitle = 'RPS — Главная'

block layout-left
  +sidebar

block layout-right
  +header
  +b.test.page
    +actions-header
      +actions-header-col
        +partial-button('icon-close')._grey 1
      +actions-header-col
        //- TODO это для прмиера (убрать открытие попапа)
        +button(href='#')._uppercase._grey Изменение данных карт
      +actions-header-col
        +button(href='#')._uppercase._grey Удалить компанию
      +actions-header-col
        +button(href='#')._uppercase._grey Удалить Физ. лицо

    div
      div(style="display: inline-block; margin: 15px")
        +button(href='#' data-target-popup='#add-to-blacklist')._uppercase._grey.js-show-popup Добавить в черный список (попап)

      div(style="display: inline-block; margin: 15px")
        +button(href='#' data-target-popup='#clients-popup')._uppercase._grey.js-show-popup Общая информаци о клиентах (попап)

    div(style="display: block; margin: 15px; width: 300px;")
      +accordion
        +accordion-item('Заголовок')
          div(style="font-size: 14px; padding: 10px; background-color: lightblue")
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non mi at ante elementum mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec rhoncus posuere accumsan. Duis rutrum, nisl in rhoncus posuere, risus velit convallis velit, ut rhoncus velit elit nec urna. Fusce id volutpat arcu, vel aliquam velit. Integer volutpat velit eu arcu ultricies venenatis. Donec mollis diam id cursus lobortis. Nam eget tempor enim. Quisque ipsum urna, efficitur non mollis sit amet, tincidunt sed magna. Phasellus sit amet fringilla sem. Etiam in nibh pharetra, posuere nibh quis, pharetra massa. Sed quis ante cursus, vestibulum tellus et, sollicitudin neque. In ultrices justo vitae nibh aliquet mattis. Aliquam eu lorem eget nisl facilisis consequat sed at tellus.

    div(style="display: flex")
      div(style="display: block; width: 300px; margin: 15px")
        +icon-menu(getData('add-client-menu'))

      div(style="display: block; width: 300px; margin: 15px")
        +search-filter

      +add-to-blacklist
      +clients-popup
