include ../icon-button/icon-button

mixin notification-info()
  +b.notification-info&attributes(attributes)
    +e.content
      block
    +icon-button('icon-caret')(href='#')._shadow._uppercase.__expand Развернуть

mixin notification-info-indicator(done)
  if done
    +e.A(href='#').indicator._done&attributes(attributes)
      +icon('icon-accept').done
  else
    +e.A(href='#').indicator&attributes(attributes)

mixin notification-info-col()
  +e.col&attributes(attributes)
    block

mixin notification-info-heading()
  +e.SPAN.heading&attributes(attributes)
    block

mixin notification-info-body()
  +e.body&attributes(attributes)
    block

mixin notification-info-text()
  +e.SPAN.text&attributes(attributes)
    block
