.notification-info {
  display: block;

  &__content {
    display: flex;
    width: 100%;
  }

  &__expand {
    display: none;
    margin-top: 24px;
    width: 100%;
    justify-content: flex-start;

    &_visible {
      display: flex;
    }

    .icon-button__icon {
      width: 12px;
      height: 8px;
      transition: all .25s ease-in-out;
    }

    .icon-button__text {
      width: 100%;
      text-align: center;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    &_align_center {
      align-items: center;
    }

    &:not(:first-child) {
      margin-left: 24px;
    }
  }

  &__heading {
    display: block;
    color: #797b7c;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 14px;
  }

  &__body {
    display: block;
    max-width: 235px;
    font-size: 14px;
    margin-top: -.28em;
    max-height: 59px;
    overflow: hidden;
    transition: all .25s ease-in-out;

    &_active {
      max-height: 300px;
    }

    a {
      text-decoration: underline;
      color: #0353a4;

      &:hover { color: #f9ad1b; }
    }
  }

  &__text {
    display: block;
    color: #181a1c;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.4;
  }

  &__indicator {
    display: block;
    cursor: pointer;
  }

  &__control {
    display: none;

    &:checked + .notification-info {

      &__box {
        background-color: #fff;

        .notification-info__done {
          transform: scale(1);
          visibility: visible;
        }
      }
    }
  }

  &__box {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #f9ae17;
    border-radius: 50%;
    transition: all .25s ease-in-out;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #fffaef;

    &:hover { box-shadow: 0 0 4px rgba(249, 173, 26, .5); }
  }

  &__done {
    position: absolute;
    top: 2px;
    right: -2px;
    width: 18px;
    height: 13px;
    fill: #fab325;
    transition: all .25s ease-in-out;
    transform: scale(0);
    visibility: hidden;
  }
}
