include ../icon-button/icon-button

mixin notification-info()
  +b.notification-info&attributes(attributes)
    +e.content
      block
    +icon-button('icon-caret')(href='#')._shadow._uppercase.__expand Развернуть

mixin notification-info-indicator(name, value, checked)
  +e.LABEL.indicator&attributes(attributes)
    +e.INPUT.control(type="checkbox" name=name value=value checked=checked)
    +e.box
      +icon('icon-accept').done

mixin notification-info-col()
  +e.col&attributes(attributes)
    block

mixin notification-info-heading()
  +e.SPAN.heading&attributes(attributes)
    block

mixin notification-info-body()
  +e.body&attributes(attributes)
    block

mixin notification-info-text()
  +e.SPAN.text&attributes(attributes)
    block
