.mifare-popup {
  display: flex;
  flex-direction: column;
  min-width: 908px;
  min-height: 100%;

  &__container {
    display: flex;
    width: 100%;
    flex: 1;
  }

  &__alert {
    box-shadow: 0 1px 0 #d2d3d3;
  }

  &__sidebar {
    min-width: 239px;
    flex-shrink: 0;
  }

  &__remove-card {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #797b7c;
    font-size: 14px;
    font-weight: 400;
    transition: color .25s ease-in-out;

    &::before {
      content: '';
      display: block;
      margin-right: 16px;
      width: 16px;
      height: 16px;
      background-color: #797b7c;
      border-radius: 50%;
      transition: background-color .25s ease-in-out;
    }

    &:hover {
      color: #f9ae17;

      &::before { background-color: #f9ae17; }
    }
  }

  &__content {
    display: block;
    width: 100%;
  }

  &__sidebar-btn {
    margin-top: auto;
    padding: 12px;
    background-color: #ffebe6;
  }

  &__unlock-button {
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;

    .icon-button__icon {
      width: 13px;
      height: 16px;
    }

    .icon-button__text {
      margin: 0 auto;
      padding-left: 5px;
    }
  }
}
