include ../../blocks/popup/popup
include ../../blocks/inner-sidebar/inner-sidebar
include ../../blocks/vertical-menu/vertical-menu
include ../../blocks/alert/alert
include ../mifare-card-info/mifare-card-info
include ../mifare-card-sessions/mifare-card-sessions
include ../mifare-card-transactions/mifare-card-transactions

mixin mifare-popup()
  +popup#mifare-popup
    +popup-header('5234 4256 9012 | Петров Василий Анатольевич')
    +popup-body._scrolless
      +b.mifare-popup
        +e.alert
          +alert._danger Внимание! Карта заблокирована.
        +e.container
          +inner-sidebar.__sidebar
            +e.group
              +inner-sidebar-item._menu
                +vertical-menu
                  +vertical-menu-item('#mifare-popup-info')
                    +vertical-menu-text Информация
                  +vertical-menu-item('#mifare-popup-sessions')
                    +vertical-menu-text Сессии
                  +vertical-menu-item('#mifare-popup-transactions')
                    +vertical-menu-text Транзакции
              +inner-sidebar-item._with_border
                a(href='#').mifare-popup__remove-card Отвязать карту
            +inner-sidebar-item.mifare-popup__sidebar-btn
              .mifare-popup__action.mifare-popup__action_unblock
                +icon-button('icon-lock')(href='#')._uppercase._shadow.mifare-popup__action-btn Разблокировать
              .mifare-popup__action.mifare-popup__action_block
                +icon-button('icon-lock')(href='#')._uppercase._shadow.mifare-popup__action-btn Заблокировать

          +e.content
            // Информация
            +mifare-card-info#mifare-popup-info
            // Сессии
            +mifare-card-sessions#mifare-popup-sessions
            // Транзакции
            +mifare-card-transactions#mifare-popup-transactions
