include ../../blocks/transaction/transaction
include ../actions-header/actions-header
include ../search-bar/search-bar

mixin mifare-card-transactions()
  +b.mifare-card-transactions&attributes(attributes)
    +actions-header
      +actions-header-col._flexible
        //- TODO заменить на datepicker
        +search-bar('тест')._white.__search-bar
    +e.content
      - for (var i = 0; i < 3; i++)
        +transaction.__transaction
