include ../../blocks/popup/popup
include ../../blocks/inner-sidebar/inner-sidebar
include ../../blocks/vertical-menu/vertical-menu
include ../../blocks/icon-button/icon-button
include ../add-tags/add-tags
include ../clients-common-info/clients-common-info
include ../individual-info/individual-info
include ../ts-list/ts-list
include ../search-bar-add/search-bar-add
include ../qr-codes/qr-codes
include ../mifare-cards/mifare-cards

mixin clients-popup()
  +popup('Сбербанк')#clients-popup
    +b.clients-popup
      +inner-sidebar.__sidebar
        +inner-sidebar-item._menu
          +vertical-menu
            +vertical-menu-item
              +vertical-menu-text Общая информация
            +vertical-menu-item
              +vertical-menu-text Физ. лица
            +vertical-menu-item
              +vertical-menu-text Список ТС
            +vertical-menu-item
              +vertical-menu-text QR-коды
            +vertical-menu-item._active
              +vertical-menu-text MiFare карты
            +vertical-menu-item
              +vertical-menu-text Доступ в ЛК
        +inner-sidebar-item
          +add-tags(getData('add-tags'))
        +inner-sidebar-item.clients-popup__sidebar-btn
          +icon-button('icon-trash')(href='#')._uppercase._shadow.clients-popup__delete-button Удалить компанию

      +e.content
        //- Общая информация
        //+clients-common-info
        //- Физ. лица
        //+individual-info
        //- Список ТС
        //+search-bar-add('Добавить', 'Введите название партнёра, название или адрес объекта')
        //+ts-list._transparent
        //- QR-коды
        //+qr-codes
        //- MiFare карты
        +mifare-cards
        //- Доступ в ЛК

  //- qr-codes dependencies
  +qr-codes-templates
