.mifare-cards {
  display: block;
  min-width: 669px;

  &__row {
    height: 48px;
    border-bottom: 1px solid #d2d3d3;
  }

  &__cell {

    &:first-child { padding-left: 17px; }
    &:last-child { padding-right: 17px; }
  }
}
