include ../../blocks/default-table/default-table
include ../search-bar-add/search-bar-add

mixin mifare-cards()
  +b.mifare-cards&attributes(attributes)
    +search-bar-add('Добавить', 'ID Карты, ФИО')
    +e.content
      +default-table
        +default-table-header
          +default-table-row.mifare-cards__row
            +default-table-cell.mifare-cards__cell ID Карты
            +default-table-cell.mifare-cards__cell Привязана
        +default-table-body
          +default-table-row.mifare-cards__row
            +default-table-cell.mifare-cards__cell
              a(href='#' data-target-popup='#mifare-popup').js-show-popup 1234 5678 9012
            +default-table-cell.mifare-cards__cell Нет
          +default-table-row.mifare-cards__row
            +default-table-cell.mifare-cards__cell
              a(href='#' data-target-popup='#mifare-popup').js-show-popup 5234 4256 9012
            +default-table-cell.mifare-cards__cell
              a(href='#') Петров Василий Анатольевич
          +default-table-row.mifare-cards__row
            +default-table-cell.mifare-cards__cell
              a(href='#' data-target-popup='#mifare-popup').js-show-popup 7346 2134 9012
            +default-table-cell.mifare-cards__cell
              a(href='#') Смирнов Алексей Борисович
          +default-table-row.mifare-cards__row
            +default-table-cell.mifare-cards__cell
              a(href='#' data-target-popup='#mifare-popup').js-show-popup 1234 6467 9012
            +default-table-cell.mifare-cards__cell
              a(href='#') Алексеев Иван Сергеевич
