.tags {
  display: inline-flex;
  flex-flow: row wrap;
  margin-right: -5px;
  margin-bottom: -5px;

  &__item {
    margin-right: 5px;
    margin-bottom: 5px;

    &_active {

      .tags__text {
        background-color: #f9ae17;
        border-color: #f9ae17;
      }
    }
  }

  &__box {
    cursor: pointer;
  }

  &__control {
    display: none;

    &:checked + .tags__text {
      background-color: #f9ae17;
      border-color: #f9ae17;
    }
  }

  &__text {
    padding: 0 6px;
    border-radius: 3px;
    border: 1px solid #797b7c;
    line-height: 16px;
    color: #202325;
    font-size: 12px;
    font-weight: 400;
  }
}
