include ../icon/icons

mixin tags()
  +b.UL.tags&attributes(attributes)
    block

mixin tags-item()
  +e.LI.item&attributes(attributes)
    +e.A(href='#').text
      block

mixin tags-item-checkbox()
  +e.LI.item
    +e.LABEL.box
      +e.INPUT(type='checkbox').control&attributes(attributes)
      +e.SPAN.text
        block

//- Для использование этого миксина, нужно миксину +tags добавить модификатор deletable, примерно так
//- +tags._deletable
//-   +tags-item-deletable._active Тэг
mixin tags-item-deletable()
  +e.LI.item&attributes(attributes)
    +e.SPAN.text._left_radius
      block
    +e.text._right_radius.__close
      +icon('icon-close').icon
