mixin tags()
  +b.UL.tags&attributes(attributes)
    block

mixin tags-item()
  +e.LI.item&attributes(attributes)
    +e.A(href='#').text
      block

mixin tags-item-checkbox()
  +e.LI.item
    +e.LABEL.box
      +e.INPUT(type='checkbox').control&attributes(attributes)
      +e.SPAN.text
        block
