include ../../node_modules/bemto.pug/bemto
include ../blocks/grid/grid
include ../blocks/layout/layout
include ../components/sidebar/sidebar

doctype html
html(lang='ru')
  include head
  body
    +layout
    script(src='assets/scripts/app.min.js')
