include ../../node_modules/bemto.pug/bemto

doctype html
html(lang='ru')
  include head
  body
    block content
    script(src='assets/scripts/libs/jquery-ui.min.js')
    script(src='assets/scripts/libs/moment.min.js')
    script(src='assets/scripts/libs/jquery.daterangepicker.min.js')
    script(src='assets/scripts/libs/spectrum.js')
    script(src='assets/scripts/app.min.js')
