mixin search-bar(placeholder)
  +b.FORM.search-bar(method="post" action="#")&attributes(attributes)
    +e.BUTTON.button(type="submit")
      +icon('icon-search')
    +e.INPUT.input(type="search" placeholder=placeholder)
    
