include ../../blocks/input/input
include ../../blocks/icon-button/icon-button

mixin counter()
  +b.counter&attributes(attributes)
    +e.col._input
      +input.js-counter-input
    +e.col
      +icon-button('icon-minus').BUTTON(data-action='minus')._shadow.__button.js-counter-button
    +e.col
      +icon-button('icon-close').BUTTON(data-action='plus')._shadow.__button.js-counter-button
