include ../icon/icons

mixin accordion()
  .accordion&attributes(attributes)
    block

mixin accordion-item(heading)
  .accordion__item&attributes(attributes)
    .accordion__button
      +icon('icon-caret', true).accordion__icon
      .accordion__heading= heading
    .accordion__content
      block
