include ../../blocks/field/field
include ../../blocks/input/input
include ../../blocks/button/button
include ../../components/counter/counter

mixin clients-common-info()
  +b.FORN.clients-common-info&attributes(attributes)
    +e.FIELDSET.fieldset
      +e.LEGEND.heading Данные о компании
      +field
        +field-label._align_right.clients-common-info__label Название:
        +field-item
          +input
      +field
        +field-label._align_right.clients-common-info__label Телефон:
        +field-item
          +input
      +field
        +field-label._align_right.clients-common-info__label E-mail:
        +field-item
          +input
      +field
        +field-label._align_right.clients-common-info__label Парковочных мест:
        +field-item
          +counter
    +e.FIELDSET.fieldset
      +e.LEGEND.heading Контактное лицо
      +field
        +field-label._align_right.clients-common-info__label ФИО:
        +field-item
          +input
      +field
        +field-label._align_right.clients-common-info__label Телефон:
        +field-item
          +input
      +field
        +field-label._align_right.clients-common-info__label E-mail:
        +field-item
          +input

    +e.save-button
      +button(href='#')._green._uppercase._align_center Сохранить изменения
