$labelWidth: 125px; // width 125
$labelMgr: 10px; // margin right

.clients-common-info {
  display: flex;
  min-width: 908px;
  height: 100%;

  &__sidebar {
    width: 239px;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 17px 157px 15px 17px;
  }

  &__fieldset {
    border: 0;
    display: block;

    &:not(:first-child) {
      margin-top: 41px;
    }
  }

  &__heading {
    display: block;
    margin-bottom: 47px;
    padding-left: $labelWidth + $labelMgr;
    width: 100%;
    color: #202325;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__label {
    width: $labelWidth;
  }

  &__save-button {
    margin-top: auto;
    padding-left: $labelWidth + $labelMgr;
    padding-top: 10px;
  }

  &__sidebar-btn {
    margin-top: auto;
    padding: 12px;
  }

  &__delete-button {
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;

    .icon-button__text {
      padding-left: 5px;
    }
  }
}
