.date-picker {
  font-family: $font-main;

  &-wrapper {
    z-index: 1200;
  }
}

.datepicker {
  position: relative;
  display: flex;
  padding: 0 14px;
  width: 100%;
  min-height: 40px;
  border-radius: 3px;
  border: 1px solid #d2d3d3;
  background-color: #fff;
  transition: all .25s ease-in-out;

  &:hover, &.focus { border-color: #f9ad1a; }

  &.focus { box-shadow: 0 0 4px rgba(249, 173, 26, .5); }

  &__control {
    height: 100%;
    min-height: inherit;
    padding-left: 19px;
    flex: 1;
    text-align: center;
    color: #202325;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    background-color: transparent;
  }

  &__icon {
    align-self: center;
    width: 18px;
    height: 20px;
    fill: #d2d3d3;
  }
}
