.indicators {
  display: flex;
  align-items: center;

  &__item {
    display: inline-block;

    &:hover { opacity: .5; }

    &:not(:last-child) { margin-right: 25px; }

    &_red .indicators__circle { background-color: #c1292e; }
    &_brown .indicators__circle { background-color: #b76611; }
    &_yellow .indicators__circle { background-color: #ffd966; }
    &_grey .indicators__circle { background-color: #b3b3b3; }
  }

  &__circle {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
  }

  &__text {
    font-size: 16px;
    color: #797b7c;
    display: inline-block;
    vertical-align: middle;

    &:not(:first-child) { margin-left: 8px; }
  }
}
